<%= form_tag("/businesses/#{@business.id}/import_survey_templates", method: :post) do  %>
  <%= select_tag "survey_template", options_for_select(@import_survey_templates.map{|i| [i.title ,i.id]}), prompt: "select", id: "survey_template_select" %>
  <%= submit_tag  "import"%>
<% end %>
<div id="survey_template"></div>
<script>
  $("#survey_template_select").change(function(){
    $.get('/import_survey_templates/'+$(this).val(), function(data){
      $("#survey_template").html($(data).find("#content-body"));
    });
  });
</script>