<strong>Franchisee Answer:</strong>
<a href="#sua_dis_<%= @survey_user_answer.id %>" id="sua_a_<%= @survey_user_answer.id %>" class="pull-xs-right" >Edit</a>
<p><%= @survey_user_answer.answer %><br></p>