<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @survey_data_type.title %>
</p>

<%= link_to 'Edit', edit_survey_data_type_path(@survey_data_type) %> |
<%= link_to 'Back', survey_data_types_path %>
