<p id="notice"><%= notice %></p>

<p>
  <strong>Req token:</strong>
  <%= @business_inquiry_basic.req_token %>
</p>

<%= link_to 'Edit', edit_business_inquiry_basic_path(@business_inquiry_basic) %> |
<%= link_to 'Back', business_inquiry_basics_path %>
