      <% if logged_in? %>
          <div class="list-group">
            <%= link_to 'Home', business_path(session[:business_id]), class: "list-group-item", id: "home_menu" %>
            <%= link_to 'Inquiries', business_inquiries_path(session[:business_id]), class: "list-group-item", id: "inquiries_menu" %>
            <%= link_to 'Inquiry questions', business_inquiry_questions_path(session[:business_id]), class: "list-group-item", id: "iq_menu" %>
            <%= link_to 'Survey templates',  business_survey_templates_path(session[:business_id]), class: "list-group-item", id: "st_menu" %>
            
          </div>
      <% else %>
      <% end %>
   
          
<script>
  $(".list-group-item").click(function(){
    $(this).parent().children().removeClass('active');
    $(this).addClass('active');
  });
  
</script>